@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dim;
}

.main-card {
  @apply w-xl md:w-3xl lg:w-5xl xl:w-6xl flex items-center justify-center p-4 rounded-lg;
}

.main-container {
  @apply flex flex-col md:flex-row md:min-h-[200] h-162.5 w-full;
}

.auth-container {
  @apply items-center justify-center;
}

.auth-form-container {
  @apply md:w-1/2 w-full md:border-r border-slate-600/30;
}

.auth-form-content {
  @apply p-8 h-full flex flex-col items-center justify-center;
}

.auth-form {
  @apply space-y-4 md:w-full lg:w-3/4 grid;
}

.auth-heading {
  @apply text-2xl text-primary font-bold mb-2;
}

.auth-input-icon {
  @apply text-slate-400 size-5;
}

.auth-input {
  @apply input w-full bg-slate-900;
}

.auth-image-container {
  @apply hidden md:w-1/2 md:flex items-center justify-center p-6 bg-linear-to-bl from-slate-800/20 to-transparent;
}

.tab-base {
  @apply tab btn btn-sm btn-primary;
}

.tab-active {
  @apply text-neutral;
}

.tab-inactive {
  @apply btn-ghost text-primary hover:text-neutral;
}

.list-flex {
  @apply flex flex-col gap-3;
}

.list-container {
  @apply bg-cyan-500/10 p-2 rounded-lg cursor-pointer hover:bg-cyan-500/20 transition-colors duration-300;
}

.list-card {
  @apply flex items-center gap-3;
}

.list-image-container {
  @apply size-12 rounded-full;
}

.list-name {
  @apply text-slate-200 font-semibold max-w-36 truncate;
}
